{% extends 'base.html' %}
{% load static %}
{% block title %} {{ task.summary }} {% endblock title %}
{% block content %}
<div class="container"></div>
    <div class="card detail-card-custum mb-3 col-10">
        <div class="row g-0">
                <div class="card-body">
                    <div class="">
                        <h3 class="card-title">{{task.summary}}</h3>
                        <a href="{% url 'task_update' task.pk %}"><img src="{% static 'icon/pen.png' %}"
                            style="width:25px; height:20px; margin: 10px;"></a>
                        <a href="{% url 'task_delete' task.pk %}"><img src="{% static 'icon/remove.png' %}"
                            style="width:25px; height:20px; margin: 10px;"></a>
                    </div>
                    <p class="card-text">Статус: {% for status in task.status.all %}{{ status.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                    <p class="card-text">Тип: {% for type in task.type.all %}{{ type.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                    <p class="card-text">Проект: {% for project in task.project.all %}{{ project.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                    {% if not delete %}
                        <p class="card-text">Description: <br> {{ task.description }}</p>
                    {%endif%}
                    <p class="card-text"><small class="text-muted">Created at: {{task.created_at}}</small></p>
                    <p class="card-text"><small class="text-muted">Updated at: {{task.updated_at}}</small></p>
                    {% if delete %}
                    {% include 'partial/confirm_delete.html' %}
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}